.custom-tooltip {
    position: absolute;
    background: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    max-width: 250px;
    z-index: 1000;
    pointer-events: none;
    /* Evita que el tooltip interfiera con el mouse */
    display: none;
    /* Oculto por defecto */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.u-m-1 {
    margin: .5rem;
}

.u-m-2 {
    margin: 1rem;
}

.u-m-3 {
    margin: 1.5rem;
}

.u-m-4 {
    margin: 2rem;
}

.u-m-5 {
    margin: 2.5rem;
}

.u-m-x-1 {
    margin: 0 1rem;
}

.u-m-x-2 {
    margin: 0 2rem;
}

.u-m-y-1 {
    margin: 1rem 0;
}

.u-m-y-2 {
    margin: 2rem 0;
}