<h1>crear categoria</h1>
<form action="/categorias" method="post">
    <div><label for="categoria">Categoria:</label><input id="categoria" name="categoria" type="text"></div>
    <div><button type="submit">Guardar</button></div>
</form>