/* ==========================================================================
   ARCHIVO PRINCIPAL CSS
   Importar todos los módulos aquí
   ========================================================================== */

/* Base */
@import url('base/_reset.css');
@import url('base/_variables.css');
@import url('base/_typography.css');
@import url('base/_base.css');

/* Layout */
@import url('layout/_header.css');
@import url('layout/_footer.css');
@import url('layout/_grid.css');
@import url('layout/_hero.css');

/* Componentes */
@import url('components/_buttons.css');
@import url('components/_cards.css');
@import url('components/_forms.css');
@import url('components/_navigation.css');

/* Páginas */
@import url('pages/_home.css');
@import url('pages/_contact.css');

/* Utilidades */
@import url('utils/_helpers.css');
@import url('utils/_animations.css');
@import url('utils/_responsive.css');


