/* Navegación */
.main-nav__list {
  display: flex;
  gap: 2rem;
  list-style: none;

}

.main-nav__link {
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.main-nav__link:hover,
.main-nav__link--active {
  background: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.menu-toggle__bar {
  width: 25px;
  height: 3px;
  background: var(--md-sys-color-on-primary);
  border-radius: 2px;
}
